
.fa-facebook {
  background: #430297;
  color: white;
  width: 30%;
  height: 50%;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: red;
  color: white;
  width: 3%;
  height: 50%;

}



.fa-whatsapp {
  background: #430297;
  color: white;
  width: 3%;
  height: 50%;
}
.cent{
  text-align: center;
}
